# ide
/.idea
_ide_helper*.php
.phpstorm.meta.php

# vendor
/vendor
/node_modules
/public/hot

# assets
/public/css/*
/public/js/*
/public/fonts/*
/public/images/*
/public/mix-manifest.json

# storage
/public/storage
/storage/*.key

# config
.env
.env.backup
Homestead.json
Homestead.yaml
webpack.env

# code
/public/robots.txt
.phpunit.result.cache

# log
npm-debug.log
yarn-error.log

# other
.DS_Store
Thumbs.db